@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply antialiased;
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  html, body {
    @apply bg-transparent;
  }

  #root {
    @apply flex select-none bg-gray-2/80 cursor-default;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }
}
