@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply antialiased;
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  html, body {
    @apply bg-transparent;
  }

  #root {
    @apply flex select-none bg-gray-2/80 cursor-default;
  }
}
